<div style="width: 400px;position: center;padding-left: 200px">
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="8" [nzXs]="24" [nzLg]="8">
      <label nz-form-item-required>开始时间</label>
    </div>
    <div  nz-col [nzSm]="16" [nzXs]="24" [nzLg]="16"  >
      <input style="padding-left: 20px;height: 20px" [ngModel]="beginDate"  placeholder='账单日'>
    </div>
  </div>


  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="8" [nzXs]="24" [nzLg]="8">
      <label nz-form-item-required>结束时间</label>
    </div>
    <div  nz-col [nzSm]="16" [nzXs]="24" [nzLg]="16"  >
      <input style="padding-left: 20px;height: 20px" [ngModel]="endDate"  placeholder='还款日'>
    </div>
  </div>




</div>
<div echarts [options]="chartOption" class="demo-chart"></div>

